/* .nav {
    height:80px;
}
.navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0px;
}

@media (max-width:1050px) {
    nav {
        padding: 0px 20px;
    }
}

@media (max-width:800px) {
   
}

@media (max-width:400px) {
   
} */